<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/navigations') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-contents-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ullam ut maiores iusto, modi facere.
                    Dolor aliquam cum eligendi dignissimos nihil. Est hic eligendi facilis explicabo omnis perspiciatis
                    consequuntur asperiores aut consectetur reprehenderit quam unde ut culpa temporibus minima
                    assumenda, doloribus tempore. Ad quia a qui minus placeat eligendi nobis quibusdam reprehenderit
                    omnis assumenda consectetur iusto quas labore voluptatem, incidunt harum. Expedita, magni molestias.
                    Laborum aperiam, nobis minima doloremque corporis corrupti nemo laudantium nulla excepturi sunt
                    delectus quae eum eaque facilis quaerat, in perspiciatis? Ratione ipsa sint esse doloribus quaerat,
                    velit, veniam ex explicabo exercitationem pariatur eum incidunt voluptatum totam voluptatibus
                    praesentium! Dolorum totam provident facere dignissimos, sunt recusandae temporibus laboriosam quo
                    aperiam magni perferendis impedit, explicabo ipsa veniam eligendi magnam fugit perspiciatis dolore
                    ab facilis, iure qui nihil. Porro voluptates sint non explicabo, error quis iure laboriosam sapiente
                    facere exercitationem maiores. Neque nihil soluta officiis porro quidem ea dolore velit quod aut
                    excepturi. Reprehenderit et ea corrupti dignissimos soluta illo maiores praesentium quae, facere
                    quos doloribus molestias natus rerum ipsa placeat ratione qui, possimus iste obcaecati nostrum cum
                    aperiam, harum inventore. Saepe architecto ipsa a et quidem officiis, soluta laboriosam delectus ex
                    minima accusantium doloribus quae sed facilis voluptas omnis iure, vitae libero. Doloribus eveniet
                    at quod delectus iste eum veritatis, animi in fugiat nulla facere repellat similique, vero
                    reiciendis deserunt laborum quia natus odit voluptate earum eos. Eaque iste dolorum beatae ullam!
                    Pariatur sit veniam eos dolore provident aliquid magnam nobis nihil et autem culpa quo totam
                    accusantium illum, quia ab tenetur, ipsa debitis, nesciunt fugit tempore quas consectetur possimus?
                    Repellendus nulla commodi, aut inventore facere odit iste rem, laborum modi est nemo blanditiis? A
                    natus enim ullam praesentium perferendis officia minima in atque, aperiam vel eos cupiditate nostrum
                    dolorum exercitationem alias accusamus, iure consectetur adipisci sequi quia.</p>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>